<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>

      @font-face {
        font-family: 'gigafood';
        src: url("http://localhost:3000/FuturaPTBook.woff");
      }

      body {
        color: #121212;
        font-family: 'gigafood',Arial,Helvetica,sans-serif;
        text-rendering: optimizeLegibility;
      }

      h1, h2, h3, h4, h5, h6 {
        font-family: 'gigafood';
        text: bold;
      }

      .container-fluid {
        font-family: 'gigafood', futura-pt;
      }

      /*.center {*/
        /*text-align: center;*/
      /*}*/

    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
