<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <style>

      @font-face {
        font-family: futura-pt;
        src:font-url('FuturaPTBook.otf') format("opentype");
      }

      h1 {
        color: #121212;
        font-family: futura-pt;
        text-rendering: optimizeLegibility;
        text-align: center;
        text: bold;
      }

      .center {
        text-align: center;
      }

    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
